.productArea-Review{
    display: flex;
    border-bottom: 2px solid lightgray;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.productArea-Review img{
    padding: 25px;
}

/* .product-name{
    font-weight: 400;
    color: blue;
} */

button{
    background-color: goldenrod;
    padding: 5px 45px;
    border: 1px solid darkgreen;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    cursor: pointer;
}